<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de nave</title>
</head>
<body>
  <h1>
    {% if object %}
      Editar nave: {{ object.nombre }}
    {% else %}
      Nueva nave
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
      {% if object %}
        Guardar cambios
      {% else %}
        Crear nave
      {% endif %}
    </button>
    <a href="{% url 'naves:nave_list' %}">Cancelar</a>
  </form>
</body>
</html>
